<aside class="sidebar">
  <nav>
    <ul>
      <li><a href="index.html" data-link data-i18n="nav_home">Start</a></li>
      <li><a href="kurse.html" data-link data-i18n="nav_courses">Kurse</a></li>
      <li><a href="trainer.html" data-link data-i18n="nav_trainers">Trainer</a></li>
      <li><a href="mitgliedschaften.html" data-link data-i18n="nav_membership">Mitgliedschaften</a></li>
      <li><a href="kontakt.html" data-link data-i18n="nav_contact">Kontakt</a></li>
    </ul>
  </nav>
</aside>
